<div class="p-y-3 section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-xs-center">
          <img src="images/users.png" height="200" width="200" class="center-block img-circle img-fluid m-y m-y-1">
          <h3>Sunil</h3>
          <p>Developer</p>
        </div>
        <div class="col-md-3 text-xs-center">
          <img src="images/users.png" height="200" width="200" class="center-block img-circle img-fluid m-y m-y-1">
          <h3>Pallavi</h3>
          <p>Developer</p>
        </div>
        <div class="col-md-3 text-xs-center ">
          <img src="images/users.png" height="200" width="200" class="center-block img-circle img-fluid m-y m-y-1">
          <h3>Keerti</h3>
          <p>Developer</p>
        </div>
         <div class="col-md-3 text-xs-center">
          <img src="images/users.png" height="200" width="200" class="center-block img-circle img-fluid m-y m-y-1">
          <h3>Suraj</h3>
          <p>Developer</p>
        </div>
      </div>
    </div>
  </div>
  
  <br/>
  <hr/>

  <div class="bg-faded p-y-3 section" draggable="true">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item" draggable="true">DL APP</h1>
          <p>
            <strong>DLApp Team, Inc.</strong>
            <br>University of Colorado, Boulder
            <br>Colorado, CO 80302
            <br>
            <abbr title="Phone">P:</abbr>(123) 456-7890</p>
          <div class="m-y-2 m-y-lg row text-center">
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-facebook text-primary"></i></a>
            </div>
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-twitter text-primary"></i></a>
            </div>
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-instagram text-primary"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item" draggable="true">CONTACT</h1>
          <form>
            <fieldset class="form-group">
              <label for="exampleInputEmail1">Your name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your name">
            </fieldset>
            <fieldset class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-faded p-y-0 section">
    <div class="container-fluid"></div>
  </div>