<div class="container">
    <div class="well">
        <h3 class="text-xs-center">Faculty project request form</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="alert alert-info">
            Thanks for your interest in submitting one or more projects for the Discovery Learning Apprenticeship program. Please complete all required fields, which are marked with a black asterisk (*). You will receive a confirmation after you enter your project
            indicating that your project has been received. You may re-enter the application if you have more than one project to advertise. If you have a correction or change to your project, if you have trouble with this application or if you have questions,
            please contact Sharon Anderson at sharon.e.anderson@colorado.edu.
            </p>
        </div>
    </div>
</div>

<div class="container" ng-controller="facultyController as faculty">
    <h2>Faculty Form</h2>
    <h5> (all fields under this heading are required)</h5>

     <form name="Faculty">
        <div class="form-group">
            <label for="Name">*Name:</label>
            <input type="text" class="form-control" name="fName" id="name" ng-model = "project.fName" placeholder="Enter Name" required>
            <p ng-show="Faculty.fName.$error.required" style="color:red;font-size: 10px;" >Username needed </p>
        </div>

        <div class="form-group">
            <label for="Phone Number">*Number:</label>
            <input type="text" class="form-control" name="fphoneNumber" id="name" ng-model="project.fphoneNumber" placeholder="Enter Phone Number" required>
            <p ng-show="Faculty.fphoneNumber.$error.required" style="color:red;font-size: 10px;" >Phone Number needed </p>
        </div>

        <div class="form-group">
            <label for="Email">*Email:</label>
            <input type="text" class="form-control" name="fEmail" id="name" ng-model="project.fEmail" placeholder="Enter Email" required>
            <p ng-show="Faculty.fEmail.$error.required" style="color:red;font-size: 10px;" >Email needed </p>
        </div>

        <div class="form-group">
            <label for="Department">*Department:</label>
            <input type="text" class="form-control" name="fDepartment" id="name" ng-model="project.fDepartment" placeholder="Enter Department" required>
            <p ng-show="Faculty.fDepartment.$error.required" style="color:red;font-size: 10px;" >Department needed </p>
        </div>

        <div class="form-group">
            <label for="Department">*Does the project have focus on Engineering for developing communities:</label>
            <h5><p><font color="grey"> Please select one option</font></p></h5>
            <input type="radio" name="focus" ng-model="project.focus" value="Yes" required> Yes<br>
            <input type="radio" name="focus" ng-model="project.focus" value="No" required> No
            <p ng-show="Faculty.focus.$error.required" style="color:red;font-size: 10px;" > Please choose one </p>
        </div>

        <h2>Second Faculty (Optional)</h2>
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="name" class="form-control" ng-model= "project.secName" id="name" placeholder="Enter Name" >
        </div>

        <div class="form-group">
            <label for="Phone Number">Number:</label>
            <input type="name" class="form-control" id="name" ng-model= "project.secphoneNumber" placeholder="Enter Phone Number" >
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="name" class="form-control" id="name" ng-model= "project.secEmail" placeholder="Enter Email" >
        </div>

        <div class="form-group">
            <input type="name" class="form-control" id="name" ng-model="project.secDepartment" placeholder="Enter Department" >
        </div>

        <h2>Grad Student / Post Doc (Optional)</h2>
        <div class="form-group">
            <label for="Name">Grad Student / Post Doc Name:</label>
            <input type="name" class="form-control" ng-model="project.gradName" id="name" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="Phone Number">Grad Student / Post Doc Number:</label>
            <input type="name" class="form-control" ng-model="project.gradPhoneNumber"id="name" placeholder="Enter Phone Number">
        </div>

        <div class="form-group">
            <label for="Email">Grad Student / Post Doc Email:</label>
            <input type="name" ng-model="project.gradEmail" class="form-control" id="name" placeholder="Enter Email">
        </div>

        <h2>Apprenticeship Information</h2>
        <h5> (all fields under this heading are required)</h5>
        <div class="form-group">
            <label for="">*Title of the project:</label>
            <input type="text" name="title" ng-model="project.title" class="form-control" id="name" required>
            <p ng-show="Faculty.title.$error.required" style="color:red;font-size: 10px;" >Brief explanation needed </p>
        </div>

        <div class="form-group">
            <label for="Email">*Link to the apprentiship project providing more information to the students:</label>
            <input type="text" name="weblink" ng-model="project.weblink" class="form-control" id="name" required>
            <p ng-show="Faculty.weblink.$error.required" style="color:red;font-size: 10px;" >Please enter link </p>
        </div>

        <div class="form-group">
            <label for="Name">*Special Requirements the student should meet (Eg: Specific Courses, Class standings, Work Availability):</label>
            <input type="text"  name="specialReq" ng-model="project.specialReq" class="form-control" id="name" required>
            <p ng-show="Faculty.specialReq.$error.required" style="color:red;font-size: 10px;" >Please enter if any, else enter N/A </p>
        </div>

        <div class="form-group">
            <label for="desc">Brief note on the Apprentiship:</label>
            <textarea class="form-control" id="desc" name="desc" rows="2" ng-model="project.desc" maxlength="1200" required />
            <p ng-show="Faculty.desc.$error.required" style="color:red;font-size: 10px;" >Please description about the project</p>
        </div>

        <div class="form-group">
            <label for="Name">Only Students from Majors selected will be allowed to apply for the project</label>
        </div>
        <div class="multiselect">
            <div id="checkboxes">
                <label for="one"><input type="checkbox" name="major" ng-model="project.major.asen" id="one" />Aerospace Engineering</label>
                <label for="two"><input type="checkbox"  name="major" ng-model="project.major.amath" id="two"/>Applied Mathematics </label>
                <label for="three"><input type="checkbox" name="major" ng-model="project.major.arch" id="three"/>Architectural Engineering</label>
                <label for="four"><input type="checkbox" name="major" ng-model="project.major.chem" id="four"/>Chemical Engineering</label>
                <label for="five"><input type="checkbox" name="major" ng-model="project.major.chbi" id="five"/>Chemical and Biological Engineering </label>
                <label for="six"><input type="checkbox" name="major" ng-model="project.major.cven" id="six"/>Civil Engineering</label>
                <label for="seven"><input type="checkbox" name="major" ng-model="project.major.csci" id="seven"/>Computer Science</label>
                <label for="eight"><input type="checkbox" name="major" ng-model="project.major.ecen" id="eight"/>Electrical Engineering </label>
                <label for="nine"><input type="checkbox" name="major" ng-model="project.major.ecce" id="nine"/>Electrical and Computer Engineering</label>
                <label for="ten"><input type="checkbox" name="major" ng-model="project.major.phy" id="ten"/>Engineering Physics </label>
                <label for="eleven"><input type="checkbox" name="major" ng-model="project.major.even" id="eleven"/>Environmental Engineering</label>
                <label for="twelve"><input type="checkbox" name="major" ng-model="project.major.eplus" id="twelve"/>Engineering Plus</label>
                <label for="thirteen"><input type="checkbox" name="major" ng-model="project.major.mech" id="thirteen"/>Mechanical Engineering </label>
                <label for="fourteen"><input type="checkbox" name="major" ng-model="project.major.tech" id="fourteen"/>Technology Arts and Media</label>
                <p ng-show="Faculty.major.$error.required" style="color:red;font-size: 10px;" >Please Choose atleast one </p>
            </div>
        </div>

        <div class="form-group">
            <label for="Department">Amount of Supervision required/interaction available:</label>
            <h5><p><font color="grey"> Please select one option if applicable</font></p></h5>
            <input type="radio" ng-model="project.supervision1" name="supervision" value="Yes" required> Very little supervision; student will need to work largely independently<br>
            <input type="radio" ng-model="project.supervision2" name="supervision" value="No"> Moderate amount of supervision and interaction with others<br>
            <input type="radio" ng-model="project.supervision3" name="supervision" value="No"> Good deal of supervision; student will work as an integral part of a research team
        </div>

        <div class="form-group">
            <label for="Department">Supervision provided by:</label>
            <h5><p><font color="grey"> Please select one option if applicable</font></p></h5>
            <input type="radio" name="supervisor" ng-model="project.supervisor1" value="Yes" required> Supervision primarily by faculty supervisor<br>
            <input type="radio" name="supervisor" ng-model="project.supervisor2" value="No"> Supervision primarily by graduate students<br>
            <input type="radio" name="supervisor" ng-model="project.supervisor3" value="No">Supervision primarily a combination of faculty and graduate students
        </div>

        <div class="form-group">
            <label for="Department">Nature of work:</label>
            <h5><p><font color="grey"> Please select one option if applicable</font></p></h5>
            <input type="radio" name="work" ng-model="project.work1" value="Yes" required> Nature of work is primarily theoretical, most work on paper/electronic medium<br>
            <input type="radio" name="work" ng-model="project.work2" value="No">  Nature of work is primarily experimental, requiring hands-on work in a lab<br>
            <input type="radio" name="work" ng-model="project.work3" value="No">Nature of work is primarily field based, requiring hands-on work in the field<br>
            <input type="radio" name="work" ng-model="project.work4" value="Yes">Nature of work is primarily computer-related, involving coding/analysis<br>
            <input type="radio" name="work" ng-model="project.work5" value="No">  Nature of work is a combination of several types of work<br>
            <input type="radio" name="work" ng-model="project.work6" value="No">Others, Please Specify
            <input type="name" class="form-control" id="name">
            <div class="form-group">
                <label for="Department">Amount of prior work conducted in association with this project:</label>
                <h5><p><font color="grey"> Please select one option if applicable</font></p></h5>
                <input type="radio" name="workAmt" ng-model="project.workAmt1" value="Yes" required> No prior work; student will be starting from basic idea<br>
                <input type="radio" name="workAmt" ng-model="project.workAmt2" value="No"> Some prior work; student will build on work of others<br>
                <input type="radio" name="workAmt" ng-model="project.workAmt3" value="No">Well-established body of work; student will refine/improved upon efforts of others<br>
                <input type="radio" name="workAmt" ng-model="project.workAmt4" value="Yes">Others, Please Specify
                <input type="name" class="form-control" id="name">
            </div>
        </div>

        <h2>Finances</h2>
        <h5> (all fields under this heading are required)</h5>
        <h5><p><font color="grey"> Please select one option</font></p></h5>
        <div class="form-group">
            <label for="Name"> *What speed type will you use for your 50% match of the funding :</label>
            <input type="text" class="form-control" name="finance" id="name" ng-model="project.finance" required >
            <p ng-show="Faculty.finance.$error.required" style="color:red;font-size: 10px;" >Please specify the funding, if not sure select the option below </p>
        </div>
        <div class="form-group">
            <label for="Name">OR</label>
        </div>
        <div class="checkbox">
            <label><input type="radio" name="finance" ng-model="project.finance" > Not Sure</label>
        </div>
        <div class="form-group">
            <label for="Name">*Accounting contact for your Project:</label>
            <input type="name" class="form-control" name="contact" ng-model="project.contact" id="name" required>
            <p ng-show="Faculty.contact.$error.required" style="color:red;font-size: 10px;" > Please enter the incharge contact for the project </p>
        </div>

        <h2>Others</h2>
        <h5> (all fields under this heading are required)</h5>
        <div class="form-group">
            <label for="Department">* Have you supervised a discovery learning apprentice in the past(This question is intended to the faculty advisor not the grad student or the post doc):</label>
            <h5><p><font color="grey"> Please select one option</font></p></h5>
            <input type="radio" name="others" ng-model="project.others" value="Yes" required> Yes<br>
            <input type="radio" name="others" ng-model="project.others" value="No"> No
        </div>


        <div class="form-group">
            <h5><p><font color="grey">Please ensure that all information is correct before submitting your project. You will not be able to return to this page to make changes or corrections. Once you are sure everything is correct, you may proceed.</font></p></h5>
            <button ng-disabled="Faculty.fName.$invalid || Faculty.fphoneNumber.$invalid || Faculty.fEmail.$invalid || Faculty.fDepartment.$invalid || Faculty.title.$invalid || Faculty.weblink.$invalid || Faculty.specialReq.$invalid || Faculty.desc.$invalid || Faculty.focus.$invalid" type="submit" class="btn btn-primary" ng-click="faculty.submit(project)" >Submit</button>
        </div>
    </form>
</div>