
  <div class="container">
    <div class="well">
      <h3 class="text-xs-center">Faculty project request form</h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="alert alert-info">
          Thanks for your interest in submitting one or more projects for the Discovery Learning Apprenticeship program. Please complete all required fields, which are marked with a red asterisk (*). You will receive a confirmation after you enter your project
          indicating that your project has been received. You may re-enter the application if you have more than one project to advertise. If you have a correction or change to your project, if you have trouble with this application or if you have questions,
          please contact Sharon Anderson at sharon.e.anderson@colorado.edu.
        </p>
      </div>
    </div>

  </div>


  <div class="section">
    <div class="container">
      <div class="row">
        <form>
          <!--Second faculty Information row-->
          <div class="panel panel-default">
            <div class="panel-heading">
              Faculty Member Information
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-5">
                  <label for="firstName">*Faculty First Name:</label>
                  <input class="form-control" id="firstName" type="text">
                </div>
                <div class="col-md-3">
                  <label for="phoneNumber">*Faculty Phone Number:</label>
                  <input class="form-control" for="phoneNumber">
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label for="email">*Faculty Email address</label>
                  <input for="email" class="form-control">
                </div>
                <div clas="col-md-5">
                  <label for="department">*Faculty department/program</label>
                  <br/>
                  <select class="form-control text-xs-left">
                    <option value="PS">Please Select</option>
                    <option value="ASEN">Aerospace Engineering</option>
                    <option value="AMEN">Applied Mathematics</option>
                    <option value="AREN">Architectural Engineering</option>
                    <option value="CHEN">Chemical Engineering</option>
                    <option value="CBEN">Chemical and Biological Engineering</option>
                    <option value="CVEN">Civil Engineering</option>
                    <option value="CSEN">Computer Science</option>
                    <option value="EEEN">Electrical Engineering</option>
                    <option value="ECEN">Electrical and Computer Engineering</option>
                    <option value="EPEN">Engineering Physics</option>
                    <option value="EVEN">Environmental Engineering</option>
                    <option value="GEEN">Engineering Plus</option>
                    <option value="MCEN">Mechanical Engineering</option>
                    <option value="TMEN">Technology, Arts, and Media</option>
                  </select>
                </div>
              </div>
            </div>
          </div>


          <!--Second faculty Information row-->


        </form>
      </div>
    </div>
  </div>