<div ng-controller="loginController as loginCtrl" class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-6">
      <h1>Login with Email Id</h1>
      <form id="login-form" role="form" ng-model="login" method="post" autocomplete="off">
        <div class="form-group">
          <label for="email" class="sr-only">Email</label>
          <input id="email" type="email" ng-model="login.email" name="email" placeholder="somebody@example.com" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="key" class="sr-only">Password</label>
          <input id="key" type="password" ng-model="login.pword" name="key" placeholder="Password" class="form-control"/>
        </div>
        <div class="checkbox"><span onclick="showPassword()" class="character-checkbox"></span><span class="label">Show password</span></div>
        <input id="btn-login" type="submit" value="Log in" ng-click="loginCtrl.Submit(login)" class="btn btn-primary btn-lg btn-block"/>
      </form><a href="javascript:;" data-toggle="modal" data-target=".forget-modal" class="forget">Forgot your password?</a>
    </div>
  </div>
</div>
<script type="text/javascript" src="/controllers/loginController.js"></script>
<script type="text/javascript" src="/controllers/loginController.js"></script>