<div class="modal-body">
   <!-- Nav tabs -->
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Login</a></li>
      <li role="presentation"><a href="#register" role="tab" data-toggle="tab">Register</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="login">
        <form method="POST">

          <div class="form-group">
            <br/>
            <div class="input-group">
              <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
              <input autofocus required type="email" id="email" class="form-control" placeholder="CU email id" tabindex="1">
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
              <input required type="password" class="form-control" placeholder="Password" tabindex="2">
            </div>
            <a href="#forget-password" class="btn btn-xs btn-link" tabindex="4">Forget password?</a>
          </div>
          
          <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
          </div>

          <a href="#create-account" class="btn btn-success" tabindex="5">Login</a>
        </form>
      </div>

      <div role="tabpanel" class="tab-pane" id="register">
            <div class="form-group">
              <br/>
              <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                <input autofocus required type="email" id="email" class="form-control" placeholder="CU email id" tabindex="1">
              </div>

              <br/>
              <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                <input autofocus required type="email" id="email" class="form-control" placeholder="Confirm email id" tabindex="2">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                <input required type="password" class="form-control" placeholder="Password" tabindex="3">
              </div>

              <br/>
              <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                <input required type="password" class="form-control" placeholder="Confirm Password" tabindex="4">
              </div>
            </div>
            
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>

            <a href="#create-account" class="btn btn-info" tabindex="5">Create Account</a>
          </form>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="loginCtrl.cancel()">Close</button>
</div>