<div class="m-y-3 p-y-3 section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-xs-center">
            Login
          </h4>
          </div>
          <div class="panel-body" ng-controller="loginController as loginCtrl">
            <form id="login-form" role="form" ng-model="login" method="post" autocomplete="off" class="form-horizantal">
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input id="email" type="email" ng-model="login.email" name="email" placeholder="somebody@example.com" class="form-control">
              </div>
              <div class="form-group">
                <label for="key" class="sr-only">Password</label>
                <input id="key" type="password" ng-model="login.pword" name="key" placeholder="Password" class="form-control">
              </div>
              <div class="checkbox"><span onclick="showPassword()" class="character-checkbox"></span><span class="label">Show password</span></div>
              <input id="btn-login" type="submit" value="Log in" ng-click="loginCtrl.Submit(login)" class="btn btn-primary btn-lg btn-block">
            </form>
            <a href="javascript:;" data-toggle="modal" data-target=".forget-modal" class="forget">Forgot your password?</a>
          </div>
        </div>

      </div>


      <div class="col-md-1">
      </div>

      <div class="col-md-5">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-xs-center">
            Register
          </h4>
          </div>
          <div class="panel-body">
            <div class="panel-body" ng-controller="loginController as loginCtrl">
              <form id="reg-form" role="form" ng-model="reg" method="post" autocomplete="off" class="form-horizantal">
                <div class="form-group">
                  <input for="username" ng-model="reg.username" name="username" placeholder="username" class="form-control">
                  </div>

                  <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  </div>

                  <div class="form-group">
                  <input id="email" type="email" ng-model="reg.email" name="email" placeholder="somebody@example.com" class="form-control">
                  </div>

                  <div class="form-group">
                  <label for="key" class="sr-only">Password</label>
                  </div>

                  <div class="form-group">
                  <input id="key" type="password" ng-model="reg.password" name="key" placeholder="Password" class="form-control">
                  </div>

                  <div class="form-group">
                  <label for="key" class="sr-only">ConfirmPassword</label>
                  </div>

                  <div class="form-group">
                  <input id="key" type="password" name="key" placeholder="Confirm Password" class="form-control">
                </div>
                <div class="checkbox"><span onclick="showPassword()" class="character-checkbox"></span><span class="label">Show password</span></div>
                <input id="btn-login" type="submit" value="Register" ng-click="loginCtrl.register(reg)" class="btn btn-primary btn-lg btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>