<div class="container">
  <div class="well">
    <h4 class="text-center">Automated assignment of Students to Projects</h4>
  </div>
  <pre class="bg-success">Click on entry to edit the assignment manually</pre>
</div>

<div class="section" ng-controller="matchController as mCtrl">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary" ng-click = "mCtrl.generateReport()">Generate Excel</button>
          <br>
          <table id = "example" datatable="ng" class="table table-bordered table-hover specialCollapse">
            <thead>
              <tr>
                <th>Student Name</th>
                <th>Project Name</th>
              </tr>
            </thead>
            <tbody>
              <tr class="clickable-row tr-selectable" data-toggle="modal" data-target="#moreDetails"
                  ng-repeat="match in mCtrl.matches" ng-click="mCtrl.setSelection(match)">
                <td>{{match.studentName}}</td>
                <td>
                  {{match.assigned}}
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
  </div>

  <div class="modal fade" id="moreDetails" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span id="myModalLabel">
            <font size="+1"><b>Change project assignment</b></font>
          </span>
        </div>
        <div class="modal-body">
          <p>
            <label>Student Name: </label>
            {{mCtrl.selectedStudent.studentName}} <br/><br/>

            <label>Project Assigned: </label>
            <span>{{mCtrl.tempAssigned.title}}</span> <br/><br/>

            <!-- <div class="input-w"> -->
            <label>Student Project Preferences:</label>
            <div class="btn-group" >
              <div ng-repeat='preference in mCtrl.getStudentPreferences(mCtrl.selectedStudent.studentName) track by $index'>
                <label class="btn btn-primary" ng-model="mCtrl.tempAssigned.title" uib-btn-radio="'{{preference}}'" uncheckable>{{preference}}</label>
              </div>
            </div>
            <!-- </div> -->

            <br/><br/>
            <label>Select from the list:</label>
            <select ng-model="mCtrl.tempAssigned" ng-options="p.title for p in mCtrl.projects">
                <option>Select project</option>
            </select>
          </p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="mCtrl.autoMatchAfterManualOverride(mCtrl.selectedStudent.studentName)">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
