<div class="container">
  <div class="well">
    <h4 class="text-center">List of Projects</h4>
  </div>
</div>

<div class="section" ng-controller="projectsController as prCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <select id="pfilter" name="pfilter">
          <option value="All" default>All projects</option>
          <option value="Dept">By departments</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <span>
            <table class="table table-bordered table-hover specialCollapse">
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Contact</th>
                  <th>Description</th>
                  <th>Special requirements</th>
                </tr>
              </thead>
              <tbody ng-repeat="project in prCtrl.projects">
                <tr>
                  <td>{{project.title}}</td>
                  <td>
                    {{project.fName}}<br/>
                    {{project.fEmail}}<br/>
                    {{project.phoneNumber | tel}}<br/>
                    {{project.fDepartment}}
                  </td>
                  <td>{{project.desc}}</td>
                  <td>{{project.specialReq}}</td>
                </tr>
              </tbody>
            </table>
          </span>
    </div>
  </div>
</div>
