<div class="container">
  <div class="well">
    <h4 class="text-center">List of Projects</h4>
  </div>
</div>

<div class="section" ng-controller="projectsController as prCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id = "example" datatable="ng" class="table table-bordered table-hover specialCollapse">
          <thead>
            <tr>
              <th>Project Name</th>
              <th>Contact</th>
              <th>Description</th>
              <th>Special requirements</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable-row tr-selectable" data-toggle="modal" data-target="#moreDetails"
                ng-repeat="project in prCtrl.projects" ng-click="prCtrl.setSelection(project)">
              <td>{{project.title}}</td>
              <td>
                {{project.fName}}<br/>
                {{project.fEmail}}<br/>
                {{project.phoneNumber | tel}}<br/>
                {{project.fDepartment}}
              </td>
              <td>{{project.desc}}</td>
              <td>{{project.specialReq}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="modal fade" id="moreDetails" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header"> 
          <span id="myModalLabel">
            <font size="+1"><b>Project: {{prCtrl.selectedProject.title}}</b></font>
          </span> 
        </div>
        <div class="modal-body">
          <p>
            <label>Name:</label>
            {{prCtrl.selectedProject.fName}} <br/>

            <label>Email:</label> 
            {{prCtrl.selectedProject.fEmail}} <br/>

            <label>Tel:</label> 
            {{prCtrl.selectedProject.phoneNumber | tel}} <br/>

            <label>Department:</label> 
            {{prCtrl.selectedProject.fDepartment}}
            <hr/>

            <label>Description: </label> <br/>
            {{prCtrl.selectedProject.desc}}
            <hr/>

            <label>Special Requirements: </label> <br/>
            {{prCtrl.selectedProject.specialReq}}
          </p>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
