//
//  @Author: Sunil bn <sunhick@gmail.com>
//
//  Copyright (c) 2016. University of Colorado, boulder
//
extends layout

block prepend addHeaders

block content
    .container
        .jumbotron
            h3 Welcome to DLA Apprentice program
        p.bg-default
            |The College of Engineering and Applied Science sponsors the Discovery Learning Apprenticeship 
            |Program to support and encourage undergraduate involvement in research with graduate students, 
            |faculty, and industry partners.