//
//  @Author: Sunil bn <sunhick@gmail.com>
//
//  Copyright (c) 2016. University of Colorado, boulder
//
    
.container
    .jumbotron
        h3 Student request form
    p.bg-default
        | Submit a request to work on projects.